<a href="/recipe/<%= recipe.rec_title %>">
    <div class="rounded-lg max-w-sm w-full p-1 m-1 bg-gray-300 cursor-pointer group">
        <h2 class="font-bold text-center text-xl"><%= recipe.rec_title %></h2>
        <div class="flex justify-center">
            <img class="w-full rounded-lg group-hover:opacity-70" src="/images/gebratenenudeln.jpg">
        </div>
    </div>
</a>