<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lieblingsrezepte</title>
        <link href="/dist/output.css" rel="stylesheet">
    </head>

    <main class="">
        <h2 class="font-bold text-2xl ">Deine Favoriten</h2>
        <p>Hier sind favorisierten Rezepte aufgelistet.</p>
        <div id="recipes-container" class="flex flex-row flex-wrap justify-evenly">
            <% if (recipes.length < 1) { %>
                <p>Du hast noch keine favorisierten Rezepte</p>
            <%}%>
            <% recipes.forEach(function(recipe) { %>
                <%- include('../partials/recipe_preview', {recipe: recipe}); %>
            <% }); %>
        </div>
        <h2 class="font-bold text-2xl ">Am meisten angesehen</h2>
        <p>Hier sind meist angezeigten Rezepte aufgelistet.</p>
        <div id="recipes-container" class="flex flex-row flex-wrap justify-evenly">
            <% mostViewed.forEach(function(recipe) { %>
                <%- include('../partials/recipe_preview', {recipe: recipe}); %>
            <% }); %>
        </div>
        <br>
        <a class="underline text-blue-600 hover:text-blue-800 text-xl p-1 m-2" href="/">Zurück zur Startseite</a>
    </main>

</html>